* {
  margin: 0px;
  padding: 0px;
  font-family: Work sans;
}

.dark-01 {
  color: #131313;
}

.dark-02 {
  color: #424242;
}

.dark-03 {
  color: #424242;
}

header {
  background: rgba(255, 144, 14, 0.1);
  margin: 0px auto;
  padding: 50px 100px;
  overflow: hidden;
}

/*Navbar started here*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0px 5px;
}

.title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-02 {
  color: #131313;
font-size: 64px;
font-family: Work Sans;
font-weight: 700;
word-wrap: break-word;
text-align: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;

  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* banner section started here */

.banner-section {
  margin: 0px auto;
}

.banner-info {
  margin: 15px auto;
  width: 65%;
}

.para {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.banner-section p {
  margin: 15px auto;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 24px;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 45px;
}

.banner-section img {
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
}

/* Team section started here */

main{
  margin: 85px 100px;
}

.team-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  margin: 0px 80px;
}

.team-gallery {
 display: flex;
 flex-direction: column;
 gap: 24px;
}

.first-row {
  display: flex;
  gap: 24px;
}

.second-row{
  display: flex;
  gap: 24px;
}

.images {
  width: 300px;
  height: 300px;
}

.images img{
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit:cover
}

.team-info-box{
  margin-right: 50px;
}

.team-info-box h2,.team-info-box p{
  text-align: start;
  margin-bottom: 24px;
}

.team-info-box button{
  margin-top: 32px;
}

/* Feature section started here */

/* .feature-heading{
  display: flex;
  gap: 21px;
}

.side-feature{
  width: 5px;
  height: 108px;
  background-color: #FF900E;
} */

/* MOBILE RESPONSIVE STARTS HERE */

@media screen and (max-width: 576px) {
  header {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    flex-direction: column;
    gap: 45px;
    margin: 0px;
    padding: 0px;
    padding: 50px 20px;

    padding-bottom: 25px;
  }

  .nav-items {
    gap: 30px;
  }

  /* banner section started here */

  .banner-section h1{
    font-size: 45px;
    line-height: 65px;
    
  }

  .banner-section p {
    margin: 30px auto;
  }

  .banner-section img {
    width: 90%;
    margin-bottom: 50px;
    border-radius: 8px;
  }

  .banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
  }


  /* Team section started here */

  main{
    margin: 45px 50px;
  }
  
  .team-section{
    flex-direction: column;
    margin: 0px;
  }
  
  .first-row {
    flex-direction: column;
  }
  
  .second-row{
    flex-direction: column;
  }
  
  .team-info-box{
    margin: 0px;
    text-align: center;
  }
  
  .team-info-box h2,.team-info-box p{
    text-align: center;
  }
  
}
