* {
  margin: 0px;
  padding: 0px;
  font-family: Work sans;
}

.dark-01 {
  color: #131313;
}

.dark-02 {
  color: #424242;
}

.dark-03 {
  color: #424242;
}

header {
  background: rgba(255, 144, 14, 0.1);
  margin: 0px auto;
  padding: 50px 100px;
  overflow: hidden;
}

/*Navbar started here*/

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
  padding: 0px 5px;
}

.title {
  color: var(--Dark-01, #131313);
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.title-02 {
  color: #131313;
  font-size: 64px;
  font-family: Work Sans;
  font-weight: 700;
  word-wrap: break-word;
  text-align: center;
}

.nav-items {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 50px;

  text-align: center;
  font-family: "Work Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
}

/* banner section started here */

.banner-section {
  margin: 0px auto;
}

.banner-info {
  margin: 15px auto;
  width: 65%;
}

.para {
  color: var(--Dark-03, #727272);
  text-align: center;
  font-family: "Work Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

.banner-section p {
  margin: 15px auto;
}

.btn-primary {
  color: #fff;
  text-align: center;
  font-family: "Work Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 8px;
  background: #ff900e;
  border: none;
  padding: 20px 24px;
}

.banner-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px auto;
  margin-bottom: 45px;
}

.banner-section img {
  margin: 0 auto;
  width: 100%;
  border-radius: 8px;
}

/* Team section started here */

main {
  margin: 85px 100px;
}

.team-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 76px;
  margin: 0px 80px;
}

.team-gallery {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.first-row {
  display: flex;
  gap: 24px;
}

.second-row {
  display: flex;
  gap: 24px;
}

.images {
  width: 300px;
  height: 300px;
}

.images img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.team-info-box {
  margin-right: 50px;
}

.team-info-box h2,
.team-info-box p {
  text-align: start;
  margin-bottom: 24px;
}

.team-info-box button {
  margin-top: 32px;
}

/* Feature section started here */

.title-03 {
  color: #131313;
  font-size: 20px;
  font-family: Work Sans;
  font-weight: 600;
  word-wrap: break-word;
}

.feature-section {
  display: flex;
  gap: 146px;
  margin-top: 130px;
}

.feature-heading {
  display: flex;
  gap: 21px;
}

.side-feature {
  width: 5px;
  height: 108px;
  background-color: #ff900e;
}

.feature-title {
  padding-right: 200px;
  text-align: start;
  margin-bottom: 24px;
}

.feature-info {
  margin-top: 40px;
}

.feature-info p {
  margin-bottom: 30px;
  text-align: start;
}

.cart-container {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.cart-items {
  padding: 25px;
  background: white;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  padding-right: 60px;
}

.cart-items h3 {
  margin-bottom: 10px;
}

.cart-items p {
  text-align: start;
  margin: 0px;
}

.feature-pic {
  width: 100%;
  height: 100%;
}

.feature-pic img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
}

.year-card {
  background-color: #ff900e;
  width: 320px;
  height: 190px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  margin-top: -100px;
  margin-left: -80px;
}

/* Fact section started here */

.fact-title {
  text-align: start;
  margin-top: 130px;
  margin-bottom: 24px;
}

.fact-para {
  text-align: start;
  margin-bottom: 100px;
}

.fact-cart-container {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 124px;
}

.fact-cart {
  border: 1px solid;
  border-color: #ff900e;
  border-radius: 8px;
  padding: 40px 40px;
}

.fact-cart h3 {
  color: var(--Dark-01, #424242);
  text-align: center;
  font-family: "Work Sans";
  font-size: 45px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding: 10px 0px;
}

/* Sponsor section started here */

.sponsor-section {
  margin-top: 200px;
}

.sponsor-para {
  color: #727272;
  font-size: 16px;
  font-family: Work Sans;
  font-weight: 400;
  line-height: 26px;
  word-wrap: break-word;
  margin-top: 24px;
}

.sponsor-cart {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 120px;
  margin: 50px auto;
}

.sponsor-cart img {
  filter: grayscale(100%);
}

footer {
  background-color: #fff4e7;
  margin: 50px auto;
  padding: 40px 410px;
  margin: 85px 100px;
  margin-bottom: 150px;
  width: max-content;
}

/* MOBILE RESPONSIVE STARTS HERE */ /* MOBILE RESPONSIVE STARTS HERE */ /* MOBILE RESPONSIVE STARTS HERE */

@media screen and (max-width: 576px) {
  header {
    margin: 0px;
    padding: 0px;
  }

  .navbar {
    flex-direction: column;
    gap: 45px;
    margin: 0px;
    padding: 0px;
    padding: 50px 20px;

    padding: 0px;
    padding: 20px 10px;
    padding-bottom: 25px;
  }

  .nav-items {
    gap: 20px;
    width: 100%;
  }

  /* banner section started here */

  .banner-section h1 {
    font-size: 45px;
    line-height: 65px;
  }

  .banner-section p {
    margin: 30px auto;
  }

  .banner-section img {
    width: 90%;
    margin-bottom: 50px;
    border-radius: 8px;
  }

  .banner-img {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
  }

  /* Team section started here */

  main {
    margin: 45px 50px;

    margin: 10px;
    overflow: hidden;
  }

  .team-section {
    flex-direction: column;
    margin: 0px;
  }

  .first-row {
    flex-direction: column;
  }

  .second-row {
    flex-direction: column;
  }

  .team-info-box {
    margin: 0px;
    text-align: center;
  }

  .team-info-box h2,
  .team-info-box p {
    text-align: center;
  }

  /* Feature section started here */

  .feature-section {
    display: flex;
    gap: 146px;
    margin-top: 130px;

    flex-direction: column;
    margin: 0px;
    margin-top: 15px;
    gap: 15px;
  }

  .feature-heading {
    display: flex;
    gap: 21px;
  }

  .side-feature {
    width: 5px;
    height: 108px;
    background-color: #ff900e;
  }

  .feature-title {
    padding-right: 200px;
    text-align: start;
    margin-bottom: 24px;

    padding: 0px;
  }

  .feature-info {
    margin-top: 40px;
  }

  .feature-info p {
    margin-bottom: 30px;
    text-align: start;

    text-align: center;
  }

  .cart-container {
    display: flex;
    flex-direction: column;
    gap: 18px;

    text-align: center;
  }

  .cart-items {
    padding: 25px;
    background: white;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
    padding-right: 60px;

    padding: 15px;
  }

  .cart-items h3 {
    margin-bottom: 10px;
  }

  .cart-items p {
    text-align: start;
    margin: 0px;

    text-align: center;
  }

  .feature-pic {
    width: 100%;
    height: 100%;
  }

  .feature-pic img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  .year-card {
    background-color: #ff900e;
    width: 320px;
    height: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    position: relative;
    margin-top: -100px;
    margin-left: -80px;

    width: 65%;
    height: 65%;
    padding: 0px;
    margin: 0px;
    display: none;
  }

  .year-card h2 {
    font-size: 25px;
  }

  /* Fact section started here */

  .fact-title {
    margin-top: 40px;
    margin-bottom: 10px;
    text-align: center;
  }

  .fact-para {
    margin-bottom: 40px;
    text-align: center;
  }

  .fact-cart-container {
    flex-direction: column;
    gap: 20px;
    padding: 0px 10px;
  }

  /* Sponsor section started here */

  .sponsor-section {
    margin-top: 200px;
  }

  .sponsor-para {
    color: #727272;
    font-size: 16px;
    font-family: Work Sans;
    font-weight: 400;
    line-height: 26px;
    word-wrap: break-word;
    margin-top: 24px;
  }

  .sponsor-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 120px;
    margin: 50px auto;

    flex-direction: column;
  }

  .sponsor-cart img {
    filter: grayscale(100%);
  }

  footer {
    background-color: #fff4e7;
    margin: 50px auto;
    width: max-content;
    padding: 40px 410px;
    margin-bottom: 150px;

    overflow: hidden;
    width: 100%;
    margin-bottom: 50px;
    padding: 10px 20px;
    /* margin: 0px 10px; */
    margin-bottom: 50px;
    padding: 0px;
  }
  footer div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0px;
  }
  footer p {
    width: 80%;
    word-wrap: break-word;
    text-align: center;
  }
}
